<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>curso web</title>
</head>
<body>
    <div id="content">
        <header class="hero">
            <nav>
                <ul>
                    <li><a href="#">início</a></li>
                    <li ><a href="#">quem sou eu</a></li>
                    <li><a href="#">contato</a></li>
                </ul>
            </nav>
            <div class="hero-content">
                <h1>curso web </br>fundamentos</h1>
                <p>Aprenda HTML, CSS e Javascript</p>
            </div>
        </header>
        <main>
            <section class="content-section">
                <div class="card">
                    <img src="/assets/card_01.png" alt="">
                    <p>seletores</p>
                </div>
                <div class="card">
                    <img src="/assets/card_02.jpg" alt="">
                    <p>posicionamento</p>
                </div>
                <div class="card">
                    <img src="/assets/card_03.jpg" alt="">
                    <p>fontes e ícones</p>
                </div>
            </section>
            <section class="content-section">
                <header class="section-header">
                    <h2>titulo</h2>
                </header>
                <p class="paragrafo">Primeiro parágrafo</p>
                <p class="paragrafo p2">Segundo parágrafo</p>
            </section>
        </main>
        <footer class=rodape>
            <p>Copyright&copy; 2020</p>
        </footer>
    </div>
</body>
</html>